<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderLine">
            <h2><span jhiTranslate="lecopainApp.orderLine.detail.title">Order Line</span> {{orderLine.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lecopainApp.orderLine.reference">Reference</span></dt>
                <dd>
                    <span>{{orderLine.reference}}</span>
                </dd>
                <dt><span jhiTranslate="lecopainApp.orderLine.quantity">Quantity</span></dt>
                <dd>
                    <span>{{orderLine.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="lecopainApp.orderLine.price">Price</span></dt>
                <dd>
                    <span>{{orderLine.price}}</span>
                </dd>
                <dt><span jhiTranslate="lecopainApp.orderLine.reduction">Reduction</span></dt>
                <dd>
                    <span>{{orderLine.reduction}}</span>
                </dd>
                <dt><span jhiTranslate="lecopainApp.orderLine.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'lecopainApp.LineState.' + orderLine.status}}">{{orderLine.status}}</span>
                </dd>
                <dt><span jhiTranslate="lecopainApp.orderLine.orderMain">Order Main</span></dt>
                <dd>
                    <div *ngIf="orderLine.orderMainId">
                        <a [routerLink]="['/order-main-my-suffix', orderLine.orderMainId, 'view']">{{orderLine.orderMainId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="lecopainApp.orderLine.product">Product</span></dt>
                <dd>
                    <div *ngIf="orderLine.productId">
                        <a [routerLink]="['/product-my-suffix', orderLine.productId, 'view']">{{orderLine.productId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-line-my-suffix', orderLine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
