<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span jhiTranslate="lecopainApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lecopainApp.customer.firstName">First Name</span></dt>
                <dd>
                    <span>{{customer.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="lecopainApp.customer.lastName">Last Name</span></dt>
                <dd>
                    <span>{{customer.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="lecopainApp.customer.email">Email</span></dt>
                <dd>
                    <span>{{customer.email}}</span>
                </dd>
                <dt><span jhiTranslate="lecopainApp.customer.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{customer.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="lecopainApp.customer.createDate">Create Date</span></dt>
                <dd>
                    <span>{{customer.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="lecopainApp.customer.streetAddress">Street Address</span></dt>
                <dd>
                    <span>{{customer.streetAddress}}</span>
                </dd>
                <dt><span jhiTranslate="lecopainApp.customer.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{customer.postalCode}}</span>
                </dd>
                <dt><span jhiTranslate="lecopainApp.customer.city">City</span></dt>
                <dd>
                    <span>{{customer.city}}</span>
                </dd>
                <dt><span jhiTranslate="lecopainApp.customer.country">Country</span></dt>
                <dd>
                    <span>{{customer.country}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer-my-suffix', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
