<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="delivery">
            <h2><span jhiTranslate="lecopainApp.delivery.detail.title">Delivery</span> {{delivery.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lecopainApp.delivery.reference">Reference</span></dt>
                <dd>
                    <span>{{delivery.reference}}</span>
                </dd>
                <dt><span jhiTranslate="lecopainApp.delivery.delivDate">Deliv Date</span></dt>
                <dd>
                    <span>{{delivery.delivDate}}</span>
                </dd>
                <dt><span jhiTranslate="lecopainApp.delivery.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'lecopainApp.DeliveryState.' + delivery.status}}">{{delivery.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/delivery-my-suffix', delivery.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
